.main {
  button {
    margin-right: 14px;
  }
}

.title {
  margin-bottom: 14px;
}

.editorBox {
  margin-bottom: 24px;
}

.previewBox {
  margin-bottom: 24px;
  padding: 10px;
  min-height: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #faf5eb;
}
