.title {
  font-size: 22px;
  color: #333;
  text-align: left;
  line-height: 135%;
  margin-bottom: 12px;
  font-weight: normal;
}
.content {
  min-height: 300px;
}

.meta {
  color: #a9a7a7;
  font-size: 12px;
  a {
    padding: 1px 2px;
    color: #a9a7a7;
    text-decoration: none;
  }
}
